<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Laperzz - Restaurant Finder Apps</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Add favicon -->
    <link rel="icon" href="images/faviconLaperzz.ico" type="image/x-icon" />
    <!-- For PWAs -->
    <link rel="manifest" href="./app.webmanifest">
    <meta name="theme-color" content="#EEBE43"/>
    <link rel="apple-touch-icon" href="/icons/192px.png">
    <!-- Meta - From previos submission recommendation -->
    <meta name="description" content="Laperzz is a website that provides full information about restaurants for free. ">
  </head>
  <body>
    <a href="#hero_element" class="skip_link">Skip to Content</a>
    <header>
      <!-- Custom Element -->
      <header-laperzz></header-laperzz>
    </header>

    <!-- Main Content - Start -->
    <main tabindex="0" id="mainContent">
    </main>

    <!-- Main Content - End -->

    <!-- Footer - Start -->
    <footer-laperzz></footer-laperzz>

    <!-- Footer - End -->
  </body>
</html>
